<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="/create-user">Create user</a>
    </div>

    <div class="form-add-user">
      <form action="/create-user" method="POST">
        <fieldset>
          <legend class="form-add-new-title">Add new user</legend>
          <div class="input-group">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" />
          </div>

          <div class="input-group">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" />
          </div>

          <div class="input-group">
            <label for="city">City: </label>
            <input type="text" name="city" id="city" />
          </div>

          <div>
            <button class="btn-add-user" type="submit">Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
